.bg-box {
    width: 100%;
    height: 1000px;
    background-color: darkgreen;
    background-image: url(green-png-44873.png),url(pole-zelen-trava-dom-derevya.webp),url(lamp-png-34914.png),url(3F3F.webp),url(58eb07b830eab15b56162788.png);
    background-repeat: repeat-x,no-repeat,repeat-x,repeat-y,repeat-y;
    background-position: bottom,center,top,left,right;
    background-size: 300px,500px,50px,30px,30px;
}